* {
  box-sizing: border-box;
}

h2 {
  margin: 0;
}

.news_window {
  margin-top: 200px;
  margin-left: 37%;
  width: 400px;
  background-color: rgb(244, 247, 249);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 1px 1px 10px rgb(181, 181, 181);
}

.news_window_title,
.news_item_description {
  display: flex;
}

.news_window_title {
  justify-content: space-between;
  margin-bottom: 20px;
}

.news_window_refresh {
  margin-left: 20px;
  border: none;
  background-color: rgb(206, 203, 203);
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
}

.news_window_refresh:hover {
  background-color: rgb(181, 181, 181);
}

.news_item {
  margin-bottom: 15px;
}

.news_item_date {
  display: block;
  height: 20px;
  margin-bottom: 10px;
}

.news_item_image {
  width: 80px;
  height: 80px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.news_item_text-name,
.news_item_text-desc {
  display: block;
  height: 20px;
  width: 270px;
  margin-bottom: 10px;
}

.news_item_date,
.news_item_image,
.news_item_text-name,
.news_item_text-desc {
  background-color: rgb(181, 181, 181);
  position: relative;
  overflow-x: hidden;

}

.news_item_date:after,
.news_item_image:after,
.news_item_text-name:after,
.news_item_text-desc:after {
  content: "";
  display: block;
  width: 50px;
  height: 200px;
  /* margin-left: 50px; */
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
  /* left: -40px; */
  top: -100px;
  z-index: 1;
  transform: rotate(20deg);
  position: absolute;
  animation: movingFlare 2s ease-in-out 0.05s infinite;
}
 
@keyframes movingFlare {
  0% {
    left: -30px;
    margin-left: 0px;
  }
  30% {
    left: 110%;
    margin-left: 80px;
  }
  100% {
    left: 110%;
    margin-left: 80px;
  }
}